LLM_PROVIDER=ollama
LLM_MODEL=gemma4:e4b

# ollama settings
OLLAMA_ENDPOINTS=http://localhost:11434
OLLAMA_API_KEY=NA
OLLAMA_DEBUG=false
OLLAMA_THINK=false

# only needed if LLM_PROVIDER is anthropic or openai
ANTHROPIC_API_KEY=NA
OPENAI_API_KEY=NA